.postsPage {
    padding: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postsPage h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.postsPage p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}


.postsList {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 1000px;
}

.postsContainer {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    height: 250px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.postsContainer h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.postsContainer p {
    font-size: 1.2rem;
    margin: 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.postsContainer:hover {
    background-color: #f1f1f1;
    transform: scale(1.02);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.likeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #007bff;
    font-size: 2rem;
    justify-content: center;
}

.likeButton:hover {
    color: #0056b3;
    transform: translateY(-2px);
    transition: color 0.3s ease, transform 0.2s ease;
}

.createPostButton {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1rem;
    height: 40px;
    width: 200px;
}

.createPostButton:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease, transform 0.2s ease;
    transform: scale(1.05);

}

.icon{
    margin-right: 5px;
    color: #007bff;
    font-size: 1.2rem;
}

.textWithIcon {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inlineIcon {
    color: #007bff;
    font-size: 1.2rem;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}


.icon {
  font-size: 2rem;
  color: #007bff;
  margin-bottom: 10px;
}

